:root {
    --text: #000000;
    --background: #f2ede8;
    --primaryButton: #3d556c;
    --secondaryButton: #f9f7f5;
    --accent: #18212a;
}

body {
    background-color: var(--background);
    color: var(--text);

    display: flex;
    flex-direction: column;
    align-items: center;
}